{{define "four_oh_four"}}
{{template "header" "Not found"}}
        <div class="mw9 center ph3-ns">
            <div class="cf ph2-ns">
                <div class="fl w-100 pa2">
                    <div class="bg-white tc pv4">
                        <h1 class="f2 lh-title">Not found</h1>
                        <p>We were not able to find what you wanted. Try searching on <a href="/" class="link dark-blue hover-blue">the main page</a>.
                    </div>
                </div>
            </div>
        </div>
{{template "footer"}}
{{end}}