<!doctype html>
<html>
    <head>
        <title>404 | Sage</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://unpkg.com/tachyons@4.5.3/css/tachyons.min.css"/>
    </head>
    <body>
        <nav class="pa3 pa3-ns bg-blue">
            <a class="link dim white  b f6 f5-ns dib mr3" href="/" title="Sage">Sage</a>
            <a class="link dim white    f6 f5-ns dib mr3" href="/repositories" title="Repositories">Repositories</a>
        </nav>

        <div class="mw9 center ph3-ns">
            <div class="cf ph2-ns">
                <div class="fl w-100 pa2">
                    <div class="bg-white tc pv4">
                        <h1 class="f2 lh-title">Not found</h1>
                        <p>We were not able to find what you wanted. Try searching on <a href="/" class="link dark-blue hover-blue">the main page</a>.
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>