{{define "header"}}
<!doctype html>
<html>
    <head>
        <title>{{.}} | Package Savant</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.min.css"/>
    </head>
    <body>
        <nav class="nav">
            <div class="nav-left">
                <a class="nav-item is-brand" href="#">Package Savant</a>
            </div>

            <span class="nav-toggle">
                <span></span>
                <span></span>
                <span></span>
            </span>

            <div class="nav-right nav-menu">
                <a class="nav-item" href="#">Repositories</a>
            </div>
        </nav>
{{end}}