{{define "header"}}
<!doctype html>
<html>
    <head>
        <title>{{.}} | Sage</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://unpkg.com/tachyons@4.5.3/css/tachyons.min.css"/>
    </head>
    <body>
        <nav class="pa3 pa3-ns bg-blue">
            <a class="link dim white  b f6 f5-ns dib mr3" href="/" title="Sage">Sage</a>
            <a class="link dim white    f6 f5-ns dib mr3" href="/repositories" title="Repositories">Repositories</a>
        </nav>
{{end}}