{{define "internal_error"}}
{{template "header" "Error"}}
        <section class="hero is-primary">
            <div class="hero-body">
                <div class="container">
                <h1 class="title">
                    Oops!
                </h1>
                <h2 class="subtitle">
                    An error has occurred.
                </h2>
                </div>
            </div>
        </section>
          <section class="section">
            <div class="container">
                <div class="heading">
                    <h1 class="title">What should I do?</h1>
                </div>
                <div class="content">
                    <p>This is most likely a bug in Sage. Report the issue <a href="https://github.com/minecrafter/sage/issues">here</a>.</p>
                    {{if .Error}}
                    <p>Make sure to include the following information:</p>
                    <pre><code>{{.Error}}</code></pre>
                    {{end}}
                </div>
            </div>
        </section>
{{template "footer"}}
{{end}}