{{define "main"}}
{{template "header" "Main page"}}
        <section class="hero is-primary">
            <div class="hero-body">
                <div class="container">
                <h1 class="title">
                    Package Savant
                </h1>
                <h2 class="subtitle">
                    <p>This install is serving <strong>{{.RepositoryCount}}</strong> {{if eq .RepositoryCount 1}}repository{{else}}repositories{{end}} with <strong>{{.PackageCount}}</strong> {{if eq .PackageCount 1}}package{{else}}packages{{end}}.</p>
                </h2>
                </div>
            </div>
        </section>
{{template "footer"}}
{{end}}