{{define "main"}}
{{template "header" "Main page"}}
        <div class="mw12 center ph3-ns bg-near-white">
            <div class="cf ph2-ns">
                <div class="fl w-100 pa2">
                    <div class="tc pv4">
                        <h1 class="f2 lh-title">Sage</h1>
                        <p>This install is serving <span class="b">10</span> repositories with <span class="b">159</span> packages.</p>
                    </div>
                </div>
            </div>
        </div>
{{template "footer"}}
{{end}}